streamlit
yfinance
pandas
ta
matplotlib
google-api-python-client
langchain
langchain-google-genai
tastytrade
python-docx
fpdf
feedparser
langchain>=0.1.14
tastytrade>=1.1.0
pandas-ta
setuptools>=65.5.0
