streamlit
yfinance
matplotlib
pandas
pandas-ta==0.3.14b0
requests
feedparser
openai
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
langchain
langchain-google-genai
streamlit-option-menu
