streamlit
pandas
openai
yfinance
matplotlib
pandas-ta
feedparser
streamlit_option_menu
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
langchain
langchain-google-genai
plotly
python-docx
pip install tastytrade
